*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a{text-decoration: none;}

/* Desktop   */

/* navbar */
.main-logo > img{
  width: 100px !important; 
  padding: -10px;
}

/*home*/
.home{
  display: flex;
  align-items: center;
  justify-content: center;
}
.home > video{
  position: absolute;
  top:4 ;

  z-index: -1;
  width: 100%;

}

.explore-body-first{
  border: 4px solid rgba(49, 197, 26, 0.86);
  background-color: transparent;
border-radius: 4px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 25px;
color: #FFFFFF;
padding: 15px 20px;
margin-top: 450px;
}

.explore-body-first:hover{
  color: #469D38;
  border: 4px solid rgba(49, 197, 26, 0.86);
  background-color: #fff;
}
/* end home*/





/*  SignIn */
.signin{

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
background: url(/src/Images/form-background.png);
background-repeat: no-repeat;
object-fit: cover;
 background-size: cover;
 width: 100%;
 padding: 20px;
 border: 20px solid #469D38;
}

.signin-form{
  display: flex;
  flex-direction: column;
}
.signin-form > h1{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 100px;
color: #000000;
border-bottom: 2px solid #000000;
margin-bottom: 20px;
}

.signin-form  .sign-input{
padding: 10px 0 5px 50px;
border: 1px solid #000000;
border-radius: 5px;
outline: none;
font-weight: 600;
margin-right: 30px;
text-transform: capitalize;
}
.username{
background: url(./Images/User-name-input.svg) #fff;
object-fit: cover;
background-repeat: no-repeat;
background-size: contain;
margin: 10px 0;
}
.userphone{

  background: url(./Images/User-phone-input.svg) #fff;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10px 0;
}

.otp{
  background: url(./Images/User-otp-input.svg) #fff;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10px 0;
  }
.signin > img{
  width: 30%;
}
.check-privacy-label{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0;
}
.check-privacy-label > .checkbox{

  margin-right: 5px;
  margin-top: 2px;
}
.check-privacy-label > p{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 20px;
color: #FFFFFF;
}
.check-privacy-label > p > span{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 15px;
color: #469D38;
}
@media screen and (max-width: 870px){
  .signin{
    height: 95vh;
  }
.signin > img{
  width: 50%;
}
}

.from-button{
  cursor: pointer;
  margin-top: 20px;
  background: #469D38;
border-radius: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #FFFFFF;
border: none;
padding: 5px 36px;
width: 50%;
transition: all 0.2s ease-in-out;
}
.from-button:hover{
  background: #fff;
color: #469D38;


}

/* gender and age selection page  */
.gender-age-selection{
  background: url("./Images/Gender_page_bg.png");
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  border: 20px solid #469D38;
  
}
.gender-age-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gender-age-selection , .gender{
  display: flex;
  flex-direction: column;
  align-items: center;
justify-content: center;
}
.gender > .select-gender > .single-gender{
  width: 150px;
  height: 150px;
  margin: 5px 20px;
}
.gender > .select-gender > .male-gender{
  content: url(./Images/male.png);
}

.gender > .select-gender > .male-gender:checked{
  content: url(./Images/gender-male-hover.png);
}
.gender > .select-gender > .female-gender{
  content: url(./Images/female.png);

}


.gender > .select-gender > .female-gender:checked{
  content: url(./Images/gender-female-hover.png);
}

.gender > span{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 60px;
color: #FFFFFF;
background: #469D38;
border-radius: 30px;
padding: 7px 40px;
}

.gender > .select-gender{
  margin-top: 30px;
}

.age-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.age-group > span{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 96px;
color: #FFFFFF;
}
.select-age-group{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 500px;
}

.select-age-group > .select-age{
  width: auto;
	height: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	cursor: pointer;
	border-radius: 10px;
	padding: 5px 10px;
	background: #fff;
	font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 32px;
color: rgba(0, 0, 0, 0.5);
	transition: all 100ms linear;
  margin: 5px 20px;
border: 1px solid rgb(104, 104, 104);

}

.select-age-group > .select-age:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
	width: 100%;
}
.select-age-group > .select-age:checked{
  background: #469D38;
  color: #FFFFFF;
border: 1px solid #fff;

}


.gender-age-submit-btn{
  margin-top: 30px;
  background: #469D38;
  padding: 10px 40px;
  border: 2px solid #fff;
  border-radius: 20px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
color: #FFFFFF;
}
.gender-age-submit-btn:hover{
  background: #fff;
color: #469D38;
}

/* end gender and age selection page  */

/* categories page  */

.categories-section{
  background: linear-gradient(145.76deg, #000000 43.44%, rgba(49, 197, 26, 0.68) 67.15%);
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  border: 20px solid #469D38;
  align-items: center;
  justify-content: center;
}

.categories-section  > h1{
  color: #fff;
}
.categories-section > .categories{

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
padding: 50px 200px ;
}
.single-category{
/* position: absolute; */

margin:30px;
backdrop-filter: blur(300px);
background: #FFFFFF;
box-shadow: 4px 4px 14px 10px #FFFFFF;
border-radius: 7px;
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
width: 200px;
height: 250px;
text-align: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
color: #000000;
transition: all 0.2s ease-in-out;

}
.single-category:hover {
  background: #36FA16;
box-shadow: 4px 4px 14px 17px #36FA16;
color: #fff;
}

.single-category > img{
  /* width: 100%; */
  object-fit: cover;
}
.single-category > span{
  padding: 5px ;

}
/* end categories page  */


/* subcategories page  */
.subcategories-section{
  background: url(./Components/Category/Category/Weight-Management-Categories.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7rem 20rem;

}

.subcategories-section > .subcategories{
  padding: 20px 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.all-sub-categories{
  display: flex;
  flex-wrap: wrap;
}
.subcategory-single{
 
margin:30px;
background: #FFFFFF;
border-radius: 7px;
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
width: 200px;
height: 250px;
text-align: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
color: #000000;
border: 10px solid #469D38;
cursor: pointer;
transition: all 0.5s ease-in-out;

}


.subcategory-single:hover {
  border: 10px solid #ffffff;
box-shadow: 4px 4px 14px 17px #469D38;
color: rgb(0, 0, 0);
}

.subcategory-single > img{
  width: 60%;
  object-fit: cover;
}
.subcategory-single > span{
  padding: 5px ;

}
/* end subcategories page  */


/* products page */
.products{
  padding: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(129.58deg, rgba(0, 0, 0, 0.5246) 3.28%, rgba(255, 255, 255, 0.86) 52.55%), #FFFFFF;
}

.products > .all-products{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

.single-product{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 250px;
  height: 250px;
  margin: 15px 50px;
border-radius: 15px;
box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
transition: all 0.2s ease-in-out;

}

.single-product:hover{
  box-shadow: 0px 0px 15px 10px #469D38;
cursor: pointer;
}

.single-product > img{
  width: 100px;
  margin-bottom: 10px;
}
.single-product > span , .single-product > p{
  font-family: 'Port Lligat Slab';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
}
.addtocart{
  width: 50px;
  margin-top: 60px;
 margin-left: -60px;
}
.addedtocart{
  width: 30px;
  margin-bottom: -20px;
 margin-left: -60px;
}
.check-uncheck{
  width: 30px;
  margin-bottom: -20px;
 margin-right: -50px;
}
.product-buttons{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
 .product-buttons > .button-btn{
  background: #469D38;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 5px 20px;
  border: none;
  font-weight: bold;
  border: 2px solid #fff;
transition: all 0.2 ease-in-out;
}

.product-buttons > .button-btn:hover{
  background: #fff;
  color: #469D38;
  border: 2px solid #469D38;

}

/* products page */

/* coupan page */
.coupon-page{
  width: 100%;
  padding: 9.7rem 0;
  background: linear-gradient(323.55deg, rgba(50, 174, 30, 0.48) 3.87%, rgba(255, 255, 255, 0) 97.62%), #FFFFFF;
  display: flex;
  flex-direction: column;
align-items: center;
justify-content: center;

}

.coupon{
  background: #fff;
  width: 40vw;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow:4px 4px 20px 10px rgba(49, 197, 26, 0.86);
  margin: 50px;
}


.coupon-page > .product-buttons > button{
  margin: 0 60px ;
}
/* coupan page */

/* End Desktop   */

