* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
}

/* Desktop   */

/* navbar */

.body-first-navbar{
  background: #fff !important;
border-top: 1px  solid #469D38;
border-bottom: 1px  solid #469D38;

}
.main-logo>img {
  width: 100px !important;
  padding: -10px;
}
#product-singleimg  {
  width: 60px;
  margin-bottom: 10px;
}



#sub-cat-singleimg {
  width: 60%;
  object-fit: cover;
}


#single-cat-img {
  /* width: 100%; */
  object-fit: cover;
}



/*home*/
.home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home>video {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: auto;
}

.explore-body-first {
  border: 4px solid rgba(49, 197, 26, 0.86);
  background-color: transparent;
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
  padding: 15px 20px;
  margin-top: 60vh;
}

.explore-body-first:hover {
  color: #469d38;
  border: 4px solid rgba(49, 197, 26, 0.86);
  background-color: #fff;
}

/* end home*/

/*  SignIn */
.signin {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: linear-gradient(304.05deg, #000000 40.27%, rgba(0, 0, 0, 0) 86.48%), linear-gradient(304.05deg, #000000 40.27%, rgba(0, 0, 0, 0) 93.39%);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  width: 100%;
  border: 20px solid #469d38;
  padding: 4vh 20px;
  height: auto;
}

.signin-form {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.signin-form>h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 100px;
  color: #000000;
  border-bottom: 2px solid #000000;
  margin-bottom: 20px;
}

.signin-form .sign-input {
  padding: 10px 0 5px 50px;
  border: 1px solid #000000;
  border-radius: 5px;
  outline: none;
  font-weight: 600;
  margin-top: 30px;
  text-transform: capitalize;
}

.username {
  background: url(./Images/User-name-input.svg) #fff;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10px 0;
}

.userphone {
  background: url(./Images/User-phone-input.svg) #fff;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10px 0;
}

.otp {
  background: url(./Images/User-otp-input.svg) #fff;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10px 0;
}

.signin>img {
  width: 30%;
}

.check-privacy-label {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0;
}

.check-privacy-label>.checkbox {
  margin-right: 5px;
  margin-top: 2px;
}

.check-privacy-label>p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}

.check-privacy-label>p>span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #469d38;
}


.from-button {
  cursor: pointer;
  margin-top: 20px;
  background: #469d38;
  border-radius: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  border: none;
  padding: 5px 36px;
  width: 50%;
  transition: all 0.2s ease-in-out;
}

.from-button:hover {
  background: #fff;
  color: #469d38;
}

/* end signin*/

/* verification*/

.verification {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: linear-gradient(142.47deg, #FFFFFF 1.31%, #000000 66.3%, #000000 91.03%), linear-gradient(142.47deg, #FFFFFF 1.31%, #000000 59.3%), linear-gradient(142.98deg, #FFFFFF 3.16%, #000000 44.66%, rgba(255, 255, 255, 0.73) 99.2%);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  width: 100%;
  padding: 5vh 20px;
  border: 20px solid #469d38;
  height: auto;

}

.verification-form {
  display: flex;
  flex-direction: column;
}

.verification-form>h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 100px;
  color: #000000;
  border-bottom: 2px solid #000000;
  margin-bottom: 20px;
}

.verification-form .verify-input {
  padding: 10px 0 5px 50px;
  border: 1px solid #000000;
  border-radius: 5px;
  outline: none;
  font-weight: 600;
  margin-right: 30px;
  text-transform: capitalize;
}

.verification>img {
  width: 30%;
}

.verification-form>p {
  color: #fff;
}

/*end verification*/
/* gender and age selection page  */
.gender-age-selection {
  background: radial-gradient(40.65% 40.65% at 47.4% 46.42%, #469D38 0%, #000000 100%);
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  border: 20px solid #469d38;
  height: auto;

}

.gender-age-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gender-age-selection,
.gender {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gender>.select-gender>.single-gender {
  width: 150px;
  height: 150px;
  margin: 5px 20px;
}

.gender>.select-gender>.male-gender {
  content: url(./Images/male.png);
}

.gender>.select-gender>.male-gender:checked {
  content: url(./Images/gender-male-hover.png);
}

.gender>.select-gender>.female-gender {
  content: url(./Images/female.png);
}

.gender>.select-gender>.female-gender:checked {
  content: url(./Images/gender-female-hover.png);
}

.gender>span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 60px;
  color: #ffffff;
  background: #469d38;
  border-radius: 30px;
  padding: 7px 40px;
}

.gender>.select-gender {
  margin-top: 30px;
}

.age-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.age-group>span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 96px;
  color: #ffffff;
}

.select-age-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 500px;
}

.select-age-group>.select-age {
  width: auto;
  height: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px 10px;
  background: #fff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.5);
  transition: all 100ms linear;
  margin: 5px 20px;
  border: 1px solid rgb(104, 104, 104);
}

.select-age-group>.select-age:before {
  content: attr(label);
  display: inline-block;
  text-align: center;
  width: 100%;
}

.select-age-group>.select-age:checked {
  background: #469d38;
  color: #ffffff;
  border: 1px solid #fff;
}

.gender-age-submit-btn {
  margin-top: 30px;
  background: #469d38;
  padding: 5px 40px;
  border: 2px solid #fff;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}

.gender-age-submit-btn:hover {
  background: #fff;
  color: #469d38;
}

/* end gender and age selection page  */

/* categories page  */

.categories-section {
  background: linear-gradient(145.76deg,
      #000000 43.44%,
      rgba(49, 197, 26, 0.68) 67.15%);
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  border: 20px solid #469d38;
  align-items: center;
  justify-content: center;
text-align: center;
height: auto;

}

.categories-section>h1 {
  color: #fff;
}

.categories-section>.categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 50px 170px;
}

.single-category {
  /* position: absolute; */
border: none;
  margin: 30px;
  backdrop-filter: blur(300px);
  background: #ffffff;
  box-shadow: 4px 4px 14px 10px #ffffff;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 250px;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  transition: all 0.2s ease-in-out;
}

.single-category:hover {
  background: #36fa16;
  box-shadow: 4px 4px 14px 17px #36fa16;
  color: #fff;
}

.single-category>img {
  /* width: 100%; */
  object-fit: cover;
}

.single-category>span {
  padding: 5px;
}

/* end categories page  */

/* subcategories page  */
.subcategories-section {
  background: url(./Components/Category/Category/Weight-Management-Categories.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 20rem;

  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;

}

.subcategories-section>.subcategories {
  padding: 20px 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 5px 5px 10px 10px #ffffff;
}

.all-sub-categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.all-sub-categories > button{
  border: none;
  background: none;
}

.subcategory-single {
  margin: 30px;
  background: #ffffff;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 250px;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  border: 10px solid #469d38;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.subcategory-single:hover {
  border: 10px solid #ffffff;
  box-shadow: 4px 4px 14px 17px #469d38;
  color: rgb(0, 0, 0);
}

.subcategory-single>img {
  width: 60%;
  object-fit: cover;
}

.subcategory-single>span {
  padding: 5px;
}

/* end subcategories page  */

/* products page */
.products {
  padding: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(129.58deg,
      rgba(0, 0, 0, 0.5246) 3.28%,
      rgba(255, 255, 255, 0.86) 52.55%),
    #ffffff;
  height: auto;
  justify-content: center;
  padding: 5% 0;

}

.products>.all-products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.single-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 250px;
  height: 250px;
  margin: 15px 50px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

.single-product:hover {
  box-shadow: 0px 0px 15px 10px #469d38;
  cursor: pointer;
}

.single-product>img {
  width: 60px;
  margin-bottom: 10px;
}

.single-product>span,
.single-product>p {
  font-family: "Port Lligat Slab";
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 24px;
}

.addtocart {
  width: 50px;
  margin-top: 60px;
  margin-left: -60px;
}

.addedtocart {
  width: 30px;
  margin-bottom: -20px;
  margin-left: -60px;
}

.check-uncheck {
  width: 30px;
  margin-bottom: -20px;
  margin-right: -50px;
}

.product-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.products > .product-buttons{
  margin-top: 40px;
}

.product-buttons>.button-btn {
  background: #469d38;
  color: #ffffff;
  border-radius: 10px;
  padding: 5px 20px;
  border: none;
  font-weight: bold;
  border: 2px solid #fff;
  transition: all 0.2 ease-in-out;
}

.product-buttons>.button-btn:hover {
  background: #fff;
  color: #469d38;
  border: 2px solid #469d38;
}

/* products page */


/* category description page */
.Catdes-section {
  background: linear-gradient(90deg, #1B2E18 1.64%, #469D38 49.33%, #FFFFFF 49.64%);
  background-repeat: no-repeat;
  width: 100%;
  height: auto;

}

.Catdes-section>.desc-products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.desc-content {
  background: #FFFFFF;
  box-shadow: inset 0px 4px 52px #000000;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  margin: 0 50px;
}

.desc-product-image {
  width: 100%;
  height: auto;
}

.desc-button {
  cursor: pointer;
  background: #469d38;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  border: none;
  padding: 5px 10%;
  transition: all 0.2s ease-in-out;
  border: 2px solid #ffffff;

}

.desc-button:hover {
  background: #fff;
  color: #469d38;
  border: 2px solid #469D38;
}

.desc-text-poster {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desc-text-poster>p {
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}


.product-promotion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000000;
  box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
  padding: 0 10%;

}

.product-promotion>.promote-it {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
  text-shadow: 2px 2px 9px rgba(49, 197, 26, 0.86);
  font-weight: bold;
  font-size: 24px;
}

.product-promotion>.promote-it>span {
  font-size: 20px;

}

.product-promotion>.product-promotion-img {
  width: 100%;
  height: auto;
}

/* end category description page */




/* coupan page */
.coupon-page {
  width: 100%;
  padding: 9.7rem 0;
  background: linear-gradient(323.55deg,
      rgba(50, 174, 30, 0.48) 3.87%,
      rgba(255, 255, 255, 0) 97.62%),
    #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

}

.coupon {
  background: #fff;
  width: 40vw;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 4px 4px 20px 10px rgba(49, 197, 26, 0.86);
  margin: 50px;
  text-align: center;
}

.coupon-page>.product-buttons>button {
  margin: 0 60px;
}

/* coupan page */

/* End Desktop   */




@media (min-aspect-ratio: 16/9) {
  .home>video {
    width: 100%;
    height: auto;
  }

 
}

@media (max-aspect-ratio: 16/9) {
  .home>video {
    width: auto;
    height: 100%;
  }

}



@media screen and (max-width:850px) {
  .home {
    height: 90vh;
    width: 100%;

  }

  .from-button{
    width: 100%;
  }


  .categories-section>.categories {
    padding: 50px 90px;
  }

  .product-buttons {
    margin-top: 45px;
  }

  .subcategories-section {
    padding: 21.3rem 7rem;
  }

 
}

@media screen and (max-width:450px) {
  .signin-form{
    margin: 0;
  }
  .home {
    height: auto;
  }

  .signin>img {
    display: none;
  }

  .from-button {
    width: 90%;
  }

  .signin {

    padding: 11vh 20px;
  }

  .verification-form>h1 {
    font-size: 30px;
  }

  .verification>img {
    display: none;
  }

  .gender>span {

    font-size: 23px;
    line-height: 37px;
    padding: 7px 15px;
    margin-top: 62px;
  }

  .gender>.select-gender>.single-gender {
    width: 100px;
    height: 100px;
  }

  .age-group>span {
    font-size: 25px;
    line-height: 65px;
  }

  .select-age-group {
    width: 327px;

  }

  .select-age-group>.select-age {
    padding: 5px 7px;
    font-size: 17px;
    line-height: 25px;
    margin: 5px 13px;
  }

  .gender-age-submit-btn {
    margin-top: 0px;
    margin-bottom: 30px;
    padding: 2px 40px;
    font-size: 23px;
    line-height: 32px;
  }

  .coupon {

    width: 80%;
    margin: 31px;
  }

  .coupon-page>.product-buttons>button {
    margin: 0 6px;
  }

  .categories-section>.categories {
    padding: 50px 0px;
  }

  .subcategories-section {
    padding: 3rem 7rem;
  }
}





@media screen and (max-width:280px) {
  .signin-form .sign-input {
    padding: 10px 0 5px 35px;
    width: 203px;
  }
}


@media screen and (max-width:540px) {

  .verification>img {
    display: none;
  }
}



* {
  font-family: 'Montserrat', sans-serif !important;
}







@media screen and (max-width:850px){
  .desc-text-poster{
    flex-direction: column;
  }
  .product-promotion {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: #000000;
    box-shadow: 0px 4px 21px rgb(0 0 0 / 25%);
    padding: 10px 10%;
}
.product-promotion>.promote-it {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
  text-shadow: 2px 2px 9px rgb(49 197 26 / 86%);
  font-weight: bold;
  font-size: 24px;
  padding: 8px;
}
}


@media screen and (max-width:450px) {
  .Catdes-section>.desc-products {
    flex-direction: column;
}
.desc-text-poster{
  flex-direction: column;
}

.product-promotion{
  flex-direction: column;
  align-items: center;
}
.product-promotion>.promote-it{
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}
.desc-text-poster>p {
  font-size: 16px;
  text-align: center;
}

}


.multistep-form {
  background: url("./Images/multiquestion.png");
  
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-repeat: no-repeat;
  
}
.multistep-form > form{
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: center;
}
.option-fields{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.multistep-form > .single-form{
  background-color: #fff;
  padding: 20px 50px;
width: 80%;
   margin: 10% 20%;
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.next-pre-button-for-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
  width: 100%;
}
.next-pre-button-for-form > button{
  border: 2px solid #fff;
  padding: 10px 20px;
  color: #fff;
  background-color: #469D38;
  border-radius: 5px;
  margin: 0 20%;
}
.multi-q-s-form > center {
  font-family: 'Port Lligat Slab';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 69px;
color: #000000;
text-transform: capitalize;
}
.next-pre-button-for-form > .next-question{
  padding: 10px 30px;
}
.next-pre-button-for-form > .next-question:disabled{
  background-color: #ffffff ;
  color: #469D38 ;
  font-weight: bold;
  border: 2px solid #469D38;
}
.open-single-product-bg{
  background: linear-gradient(133.92deg, rgba(0, 0, 0, 0.72) 4.83%, rgba(101, 245, 78, 0) 59.02%), #FFFFFF;
  padding: 20px;
  display: flex;
 
  flex-direction: column;
}
 .open-single-product-bg > .open-single-product{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -90px;
  margin-bottom: 50px;
}

.open-single-product-bg > .open-single-product > h3{
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 50px;
  color: #282c34;
}

.open-single-product-bg > .open-single-product > .open-product-img{
  width: 100px;
  height: auto;
}
.open-single-product-bg > .open-single-product > div{
background: #FFFFFF;
padding:20px 60px;
box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
}

.open-single-product-bg > .open-single-product > div > .product-name{
font-size: 30px;
font-weight: 600;
text-transform: capitalize;
}
 .price-and-icon{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price-and-icon > p{
  margin-top: 15px;
  font-size: 20px;
  font-family: 'Port Lligat Slab' !important;
}

.addtocart-for-oepn-single-product{
  margin-left: 20px;
}

@media screen and (max-width:850px){

  .open-single-product-bg > .open-single-product{
   
    margin-top: 10px;
  }
  .multistep-form > .single-form{
    margin: 10%;
    padding: 20px 6px;
  }
.open-single-product-bg > .open-single-product > h3{
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}
.open-single-product-bg{
  align-items: center;
  justify-content: center;
}
.open-single-product-bg > .open-single-product > div > .product-name{
  font-size: 20px;
  font-weight: 600;
  }
}

.single-ans-filed > input[type=radio]{
margin: 0 10px;
accent-color:#36fa16;
}

.single-ans-filed > label{
  font-size: 20px;

}

@media screen and (max-width:500px){
  .multistep-form > .single-form > h1{
    font-size: 23px;
  }
  .multi-q-s-form > center{
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .single-ans-filed > label {
    font-size: 16px;
}
.next-pre-button-for-form > button {
  margin: 0 10px;
}
.product-buttons{
  flex-direction: column;
}
}
.navbar-toggler{
  border: none !important;
}


@media screen and (max-width:450px) {
  .open-single-product-bg > .open-single-product {
    margin-bottom: 0;
  }}
